/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@-moz-keyframes jump {
  /* line 2, ../scss/_keyframes.scss */
  0% {
    bottom: 0px;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 6, ../scss/_keyframes.scss */
  50% {
    bottom: 280px;
    height: 120px;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  /* line 11, ../scss/_keyframes.scss */
  55% {
    bottom: 320px;
    height: 100px;
    -moz-border-radius: 70px / 60px;
    border-radius: 70px / 60px;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 17, ../scss/_keyframes.scss */
  65% {
    bottom: 220.0px;
    height: 120px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  /* line 23, ../scss/_keyframes.scss */
  95% {
    bottom: 0px;
    height: 90px;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 28, ../scss/_keyframes.scss */
  100% {
    bottom: 0px;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@-webkit-keyframes jump {
  /* line 2, ../scss/_keyframes.scss */
  0% {
    bottom: 0px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 6, ../scss/_keyframes.scss */
  50% {
    bottom: 280px;
    height: 120px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  /* line 11, ../scss/_keyframes.scss */
  55% {
    bottom: 320px;
    height: 100px;
    -webkit-border-radius: 70px 60px;
    border-radius: 70px / 60px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 17, ../scss/_keyframes.scss */
  65% {
    bottom: 220.0px;
    height: 120px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  /* line 23, ../scss/_keyframes.scss */
  95% {
    bottom: 0px;
    height: 90px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 28, ../scss/_keyframes.scss */
  100% {
    bottom: 0px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@keyframes jump {
  /* line 2, ../scss/_keyframes.scss */
  0% {
    bottom: 0px;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 6, ../scss/_keyframes.scss */
  50% {
    bottom: 280px;
    height: 120px;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  /* line 11, ../scss/_keyframes.scss */
  55% {
    bottom: 320px;
    height: 100px;
    -moz-border-radius: 70px / 60px;
    -webkit-border-radius: 70px 60px;
    border-radius: 70px / 60px;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 17, ../scss/_keyframes.scss */
  65% {
    bottom: 220.0px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  /* line 23, ../scss/_keyframes.scss */
  95% {
    bottom: 0px;
    height: 90px;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 28, ../scss/_keyframes.scss */
  100% {
    bottom: 0px;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@-moz-keyframes shrink {
  /* line 35, ../scss/_keyframes.scss */
  0% {
    margin-left: -5px;
    width: 10px;
    -moz-border-radius: 30px / 5px;
    border-radius: 30px / 5px;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 41, ../scss/_keyframes.scss */
  50% {
    margin-left: -50px;
    width: 100px;
    -moz-border-radius: 100px / 5px;
    border-radius: 100px / 5px;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  /* line 47, ../scss/_keyframes.scss */
  100% {
    margin-left: -5px;
    width: 10px;
    -moz-border-radius: 30px / 5px;
    border-radius: 30px / 5px;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@-webkit-keyframes shrink {
  /* line 35, ../scss/_keyframes.scss */
  0% {
    margin-left: -5px;
    width: 10px;
    -webkit-border-radius: 30px 5px;
    border-radius: 30px / 5px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 41, ../scss/_keyframes.scss */
  50% {
    margin-left: -50px;
    width: 100px;
    -webkit-border-radius: 100px 5px;
    border-radius: 100px / 5px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  /* line 47, ../scss/_keyframes.scss */
  100% {
    margin-left: -5px;
    width: 10px;
    -webkit-border-radius: 30px 5px;
    border-radius: 30px / 5px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@keyframes shrink {
  /* line 35, ../scss/_keyframes.scss */
  0% {
    margin-left: -5px;
    width: 10px;
    -moz-border-radius: 30px / 5px;
    -webkit-border-radius: 30px 5px;
    border-radius: 30px / 5px;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  /* line 41, ../scss/_keyframes.scss */
  50% {
    margin-left: -50px;
    width: 100px;
    -moz-border-radius: 100px / 5px;
    -webkit-border-radius: 100px 5px;
    border-radius: 100px / 5px;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  /* line 47, ../scss/_keyframes.scss */
  100% {
    margin-left: -5px;
    width: 10px;
    -moz-border-radius: 30px / 5px;
    -webkit-border-radius: 30px 5px;
    border-radius: 30px / 5px;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
/* line 6, ../scss/main.scss */
.box {
  position: relative;
  margin: 400px auto 0px; }
  /* line 10, ../scss/main.scss */
  .box .ball {
    z-index: 3;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    background-image: -moz-radial-gradient(10% 24%, circle, #78f527, #204c04 70%);
    background-image: -o-radial-gradient(10% 24%, circle, #78f527, #204c04 70%);
    background-image: -webkit-radial-gradient(10% 24%, circle, #78f527, #204c04 70%);
    background-image: radial-gradient(10% 24%, circle, #78f527, #204c04 70%);
    -moz-border-radius: 55px;
    -webkit-border-radius: 55px;
    border-radius: 55px;
    -moz-animation: jump 1s infinite;
    -webkit-animation: jump 1s infinite;
    animation: jump 1s infinite; }
  /* line 30, ../scss/main.scss */
  .box .shadow {
    position: absolute;
    height: 5px;
    width: 100px;
    background: rgba(0, 0, 0, 0.4);
    bottom: -6px;
    left: 50%;
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
    -moz-animation: shrink 1s infinite;
    -webkit-animation: shrink 1s infinite;
    animation: shrink 1s infinite; }
